@import "list_styles";

.nav-tabs li {
  margin-top: .5em;
}
.nav-tabs li a {
  background-color: $light-background;
  color: $list-text-color;
}

table.category-table {
  border: none;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1em;
}
table.category-table tbody tr td {
  padding-left: 0;
}

table.category-table .fa {
  padding-left: 0;
}