@mixin festivity-form-section {
  margin: 0 1em 0 0;
  overflow: hidden;
}

@mixin rounded-box {
  @include border-radius(5px);
}

.festivity-space {
  padding: .5em 0em;
}

.festivity-title {
  margin: 2em 0;
  padding: 1em .5em;
  background-color: #7e7e7e;
}

.festivity-error {
  color: red;
}

.festivity-full {
  @include festivity-form-section;
  width: 100%;
}

.festivity-third {
  @include festivity-form-section;
  width: 40%;
}

.festivity-control {
  font-family: Georgia, Palatino, "Times New Roman", Times, serif;
  font-size: 140%;
  width: 100%;
}