.festivity-list {
  margin: .5em 0;
  background-color: white;
  color: #2e2e2e;
}

.list-item{
  @include rounded-box;
  border-bottom: 2px solid #ddd;
  padding: .5em .5em;
}

.list-item:last-child {
  border: none;
}

.festivity-list a {
  text-decoration: none;
  color: #2e2e2e;
}

.festivity-list a:hover {
  text-decoration: underline;
}
