.icon-chevron-down { background-image: url('png/chevron-down.png'); background-repeat: no-repeat; }

.icon-chevron-left { background-image: url('png/chevron-left.png'); background-repeat: no-repeat; }

.icon-chevron-right { background-image: url('png/chevron-right.png'); background-repeat: no-repeat; }

.icon-chevron-up { background-image: url('png/chevron-up.png'); background-repeat: no-repeat; }

.icon-email-connect { background-image: url('png/email-connect.png'); background-repeat: no-repeat; }

.icon-envelope-square { background-image: url('png/envelope-square.png'); background-repeat: no-repeat; }

.icon-envelope { background-image: url('png/envelope.png'); background-repeat: no-repeat; }

.icon-external-link { background-image: url('png/external-link.png'); background-repeat: no-repeat; }

.icon-facebook-connect { background-image: url('png/facebook-connect.png'); background-repeat: no-repeat; }

.icon-facebook-square { background-image: url('png/facebook-square.png'); background-repeat: no-repeat; }

.icon-facebook { background-image: url('png/facebook.png'); background-repeat: no-repeat; }

.icon-instagram-connect { background-image: url('png/instagram-connect.png'); background-repeat: no-repeat; }

.icon-instagram { background-image: url('png/instagram.png'); background-repeat: no-repeat; }

.icon-menu { background-image: url('png/menu.png'); background-repeat: no-repeat; }

.icon-search { background-image: url('png/search.png'); background-repeat: no-repeat; }

.icon-traf-email-connect { background-image: url('png/traf-email-connect.png'); background-repeat: no-repeat; }

.icon-traf-external-link { background-image: url('png/traf-external-link.png'); background-repeat: no-repeat; }

.icon-traf-facebook-connect { background-image: url('png/traf-facebook-connect.png'); background-repeat: no-repeat; }

.icon-traf-facebook { background-image: url('png/traf-facebook.png'); background-repeat: no-repeat; }

.icon-traf-instagram-connect { background-image: url('png/traf-instagram-connect.png'); background-repeat: no-repeat; }

.icon-traf-instagram { background-image: url('png/traf-instagram.png'); background-repeat: no-repeat; }

.icon-traf-search { background-image: url('png/traf-search.png'); background-repeat: no-repeat; }

.icon-traf-twitter-connect { background-image: url('png/traf-twitter-connect.png'); background-repeat: no-repeat; }

.icon-traf-twitter { background-image: url('png/traf-twitter.png'); background-repeat: no-repeat; }

.icon-twitter-connect { background-image: url('png/twitter-connect.png'); background-repeat: no-repeat; }

.icon-twitter-square { background-image: url('png/twitter-square.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

.icon-close { background-image: url('png/close.png'); background-repeat: no-repeat; }


.icon-info {
    background-image: url('png/info.png');
    background-repeat: no-repeat;
}