.event-buttons > button, .event-buttons > a {
	color: #0495a4;}
.event-header .event-header__name {
	color: #000;}
.event-sidebar .list-group-title {
	background: #c8eef2;}
list-group-item .a {
	color: #0495a4;}
li.list-group-item .a:hover {
	color: #03616b; 
	text-decoration: none;}
.event-filter-bar__header {
  background-color: #c2e8eb !important;}
.related-events .related-events__event h3:hover,.related-events .related-events__event h3:focus {
    color: #03616b;}
.related-events .related-events__event a h3{
    color: #0495A4;}
