.event-buttons > button, .event-buttons > a {
	color: #0495a4;}
.event-header .event-header__name {
	color: #000;}
.event-sidebar .list-group-title {
	background: #c8eef2;}
list-group-item .a {
	color: #0495a4;}
li.list-group-item .a:hover {
	color: #03616b; 
	text-decoration: none;}
