a {	
	color: #0495a4;
	font-weight: bold;}
a:hover  {
	color: #03616b; 
	font-weight: bold; 
	text-decoration: none;}
h1 {
	color: #0495a4;
	font-weight: bold;}
h2  {
	color: #c05917;
	font-weight: bold;}
h3 {
	color: #000;
	font-weight: bold;}
.btn-primary {
    background-color: #fcba36;
    border-color: #363636;
	font-weight: bold; 
	color: #1d1c1c; }
.btn-primary:hover{
    background-color: #e09603;}
.btn-default {
    color: #0495A4;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default:focus,.btn-default:hover {
    color: #fff;
    background-color: #0495A4;
    border-color: #000;
    text-decoration: none;
    font-weight: normal;
}
