a {	
	color: #0495a4;
	font-weight: bold;
}
a:hover  {
	color: #03616b; 
	font-weight: bold; 
	text-decoration: none;
}
h1 {
	Color: #0495a4;
	Font-weight: bold;
}

h2  {
	Color: #c05917;
	Font-weight: bold;
}
h3 {
	Color: #000000;
	Font-weight: bold;
}
.btn-primary {
    background-color: #fcba36;
    border-color: #363636;
	font-weight: bold; 
	color: #1d1c1c; 
}

