.home {
  color: #fff;
  font-size: 16px;
  padding-bottom: 10px;}
.home a {
  color: #000;}
.home .col-md-4, .col-md-6   {
  padding-left: 10px!important;
  padding-right: 10px!important;}    
.home .title {
  font-weight: bold;
  font-size: 24px;
  text-shadow: 1px 1px #000;
  padding-bottom: 0px;}
.home hr{
  padding: 10px 0px 10px 0px;
  margin: 0px;
  font-weight: bold;}
.home .title .subtitle{
  font-size: 24px;
  font-weight: bold;
  color: #fcba36;
  text-shadow: 1px 1px #000;}
.home-header {
  font-size: 48px;
  font-weight: bold;
  color: #22bdcd;
  text-shadow: 1px 1px #000;
  background-position: right top; 
  background-repeat: no-repeat;}
  @media all and (min-width: 62em) {
    .home-header{
      background-image: url(frog.png);}}
  @media all and (max-width: 62em) {
	.home-header {
	  font-size: 28px;
      background-image: url(frog_mobile.png);}}	  
.home-primary {
  background-color: #008379; } 
  @media all and (min-width: 62em) {
    .home-primary{
      background-image: url(seafoam.jpg);
      background-position: right top; 
	  background-repeat: no-repeat;} }
.home-secondary-1 {
  background-color: #c05917;
  margin-top: 10px;}
  @media all and (min-width: 62em) {
    .home-secondary-1 {
      width: 49.5%;
      margin-right: .5% }}
.home-secondary-2 {
  background-color: #c30f38;
  margin-top: 10px;}
  @media all and (min-width: 62em) {
    .home-secondary-2 {
      width: 49.5%;
      margin-left: .5% } }
.home .highlight {
  color: #000;
  text-shadow: none;}
.home .highlight hr {
  border-color: #000;}  
.home .highlight .title{
  font-size: 24px;
  font-weight: bold;
  color: #000;
  text-shadow: none;}  
.home-highlight-1 {
  background-color: #93d6de;
  margin-top: 10px;}
  @media all and (min-width: 62em) {
    .home-highlight-1 {
      width: 49.5%;
      margin-right: .5% } }  
.home-highlight-2 {
  background-color: #fbb72d;
  margin-top: 10px;}
  @media all and (min-width: 62em) {
    .home-highlight-2 {
      width: 49.5%;
      margin-left: .5% } }
.home ul  {
  padding:20px;}
/* set column height */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .home-secondary-1, .home-secondary-2 {
    height: 100%;
  }

  .home-highlight-1, .home-highlight-2 {
    height: 100%;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .home-secondary-1, .home-secondary-2 {
    height: 390px;
  }
  .home-highlight-1, .home-highlight-2 {
    height: 210px;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .home-secondary-1, .home-secondary-2 {
    height: 380px;
  }
  .home-highlight-1, .home-highlight-2 {
    height: 210px;
  }
}
