.home-primary {
  background-color: #008379;
  color: #fff; }
.home-secondary-1 {
  background-color: #c05917;
  color: #fff; } 
.home-secondary-2 {
  background-color: #c30f38;
  color: #fff; }
.home-hightlight-1 {
  background-color: #93d6de;
  color: #fff; } 
.home-hightlight-2 {
  background-color: #fbb72d;
  color: #fff; }  