.event-detail {
  .page-header {
    background-color: $background-color;
    padding-top: 1em;
  }

  .page-header {
    padding-top: 2em;

    .page-title {
      padding-bottom: 0.5em;
    }
  }

  .primary-content {
    @include pie-clearfix;
  }

	.event-media{
		img {
      width: 100%;
    }
	}

  .buy-tickets {
    a {
      width: 100%;
    }
  }
  .event-body-text {
    ul, ol {
      margin: 0 0 0.5em 2em;
      li {
        margin-bottom: 0.5em;
      }
    }

    ul {
      list-style: disc;
      margin-top: 0.5em;
    }

    ol {
      list-style: decimal;
    }
  }

}
