.location-content {
  @include pie-clearfix;


  .location-header {
    background-color: #F1F1F2;

    @include breakpoint($breakpoint-l) {
      @include column(12);
      @include last-col3;
      border-bottom: 0 none;
      padding-bottom: 0;
      margin-bottom: 2em;
    }

    .location-info {
      @include breakpoint($breakpoint-l) {
        @include column(8);
        border-bottom: 0 none;
        padding-bottom: 0;
      }
      .location-title{
        padding-top: 2em;
      }
      .location-title, .location-address {
        margin-left: 1em;
      }

      .button {
        @include button-subtle-list;
        background-color: white;
      }

    }

    .location-media{
      img {
        width: 100%;
      }
      @include breakpoint($breakpoint-l) {
        @include column(4);
        margin-bottom: 0;
        margin-right: 0;
        border-bottom: 0 none;
        padding-bottom: 0;
      }
    }

  }

}
