.home {
  .social-posts {
    @include pie-clearfix;
  }
  .social-feed {
    .section-wrapper {
      padding: 1.5em;
    }
    .section-title {
      text-align: center;
      margin-bottom: 1.5em;
      @include breakpoint($breakpoint-l) {
        margin-top: 1.5em;
      }
      a {
        color: $link-color;
      }
    }
    article {
      margin-bottom: 1em;
      width: 100%;
      @include breakpoint($breakpoint-s) {
        width: 48.3%;
      }
      @include breakpoint($breakpoint-nav) {
        width: 31.15%;
      }
      @include breakpoint($breakpoint-xl) {
        width: 22.53%;
      }
    }
    .grid-sizer {
      width: 3.25%;
    }
    .instagram-post {
      background: url('fn-instagram-bg.svg') no-repeat $homepage-featured-background;
      background-position: 90% 93%;
      background-size: 35px auto;
    }
    .twitter-post {
      background: url('fn-twitter-bg.svg') no-repeat $homepage-featured-background;
      background-position: 90% 85%;
      background-size: 38px 31px;
    }
    .post-text {
      overflow: hidden;
      padding: 1.5em;
      .user-account, time {
        max-width: 85%;
      }
      .user-account {
        display: block;
        font-weight: 700;
      }
    }
  }
}