.subnav-three-column {
  @include divider-top;
  @include pie-clearfix;
  clear: both;

  @include breakpoint($breakpoint-l) {
    margin-top: 4em;
  }

  .subnav-item {
    @include divider-bottom;

    @include breakpoint($breakpoint-l) {
      @include column(4);
      @include last-col3;
      border-bottom: 0 none;
      padding-bottom: 0;
    }
    .subnav-item-media {
      margin-bottom: 1.5em;
    }

    .subnav-item-tags {
      list-style: none;
      margin: 0;

      li {
        margin-bottom: 0.5em;
        @include breakpoint($breakpoint-xxs) {
          display: inline-block;
          margin-right: 0.5em;
          margin-bottom:0;
        }

        @include breakpoint($breakpoint-l) {
          display: block;
          margin-right: 0;
        }

        @include breakpoint($breakpoint-xl) {
          display: inline-block;
          margin-right: 1em;
        }
      }

      a {
        @include button-subtle-list;
      }
    }

  }
}
