<div class="traf-intro-background">
    <div class="main">
        <div class="headline">
            <h1>June 3-12</h1>
        </div>

        <div class="headline-2">
            <h1>10 DAYS OF FREE</h1>
        </div>

        <div class="headline-3">
            <h1>MUSIC + ART</h1>
        </div>

        <div class="buttons">
            <div class="button-wrapper"><a class="button-highlight" href="events">See Events</a></div>

            <div class="button-wrapper"><a class="button-highlight" href="traf_home/visit/map">View Map</a></div>
        </div>
    </div>
</div>

<div class="announcements">
    <div class="announcements-container">
        <div class="announcements-header">
            <h4>Announcements</h4>
        </div>

        <div class="announcements-group">
            <div class="announcement-item-group">
                <div class="date">June 6</div>

                <div class="announcement-item">The glass blowing event has been cancelled....</div>
            </div>

            <div class="announcement-item-group">
                <div class="date">June 7</div>

                <div class="announcement-item">The location for the artist meetup has changed...</div>
            </div>
        </div>
    </div>
</div>

<div class="featured-events">
    <h2>Featured Events</h2>

    <article class="featured-event"><a class="featured-image-link" href="/events/360"><r:asset:image size="original" id="417" /> </a>

        <div class="genre-title">
            <h3>MUSIC</h3>
        </div>

        <div class="event-information">
            <h4 class="title">Jenny Lewis</h4>

            <div class="date-wrapper">
                <div class="date">Sunday, June 7</div>

                <div class="time">4pm-5pm</div>

                <div class="location">Dollar Bank Stage</div>
            </div>
        </div>
    </article>

    <article class="secondary-events">
        <div class="genre-title">
            <h3>MUSIC</h3>
        </div>

        <div class="event-information">
            <h4 class="title"><a class="secondary-link" href="/events/361">No Limits</a></h4>
        </div>

        <div class="event-information">
            <div class="date-wrapper">
                <div class="date">Sunday, June 7</div>

                <div class="time">6pm-7pm</div>

                <div class="location">Dollar Bank Stage</div>
            </div>
        </div>
    </article>

    <article class="secondary-events">
        <div class="genre-title">
            <h3>MUSIC</h3>
        </div>

        <div class="event-information">
            <h4 class="title"><a class="secondary-link" href="/events/362">Pittsburgh Symphony Orchestra</a></h4>
        </div>

        <div class="event-information">
            <div class="date-wrapper">
                <div class="date">Sunday, June 7</div>

                <div class="time">8pm-9pm</div>

                <div class="location">Dollar Bank Stage</div>
            </div>
        </div>
    </article>

    <div class="events-button"><a class="button-highlight" href="/events">See All Events </a></div>
</div>

<div class="traf-bubbles">&nbsp;</div>

<h3 class="section-title">SOCIAL FEED<a class="button-highlight" href="#">#TRAF</a></h3>
<r:instagram_posts tag="traf" /><r:twitter_posts tag="traf" />