.home main {
  .container {
    width: 100%;
    max-width: 100%;
    .traf-intro-background {
      height: 550px;
      background: url(traf-background.png) no-repeat top center;
      background-color: $background-color-alt;
      background-size: cover;
      @include breakpoint($breakpoint-nav) {
        height: 850px;
      }
    }
  }

  .main {
    @include container;
    margin-top: -1em;
    width: 95%;
    padding-top: 5em;
    .headline {
      h1 {
        @include heading-4;
        color: #fff;
      }
    }
    .headline-2 {
      font-size: 1em;
      @include breakpoint($breakpoint-nav) {
        @include heading-3;
      }
    }
    .headline-3 {
      font-size: 1.5em;
      @include breakpoint($breakpoint-nav) {
        @include heading-1;
      }
    }
    .buttons {
      .button-wrapper {
        margin-right: 1em;
        .icon-chevron-right {
          height: 15px;
          margin-left: 2em;
          margin-right: -1em;
          svg {
            fill: $text-color;
          }
        }
      }
    }
  }
  .announcements {
    background: url(traf-bottom-wave.png) no-repeat;
    background-color: $text-color;
    padding-top: 2em;
    margin-bottom: 6em;
    border-bottom: 5em;
    border-image: url(traf-thin-wave.png) 0 27 75 repeat;
    border-image-outset: 1;
    .announcements-container {
      @include container;
      width: 95%;
      margin-bottom: -4em;
      padding-top: 4em;

      .announcements-header {
        @include breakpoint($breakpoint-nav) {
          @include column(4);
        }
        vertical-align: top;
        .icon-info {
          margin-right: 1.5em;
        }
        h4 {
          display: inline-block;
          color: #fff;
          font-size: 1.8em;
        }
      }
      .announcements-group {
        @include breakpoint($breakpoint-nav) {
          @include column(8);
          @include last;
        }
        .date {
          font-size: 1.5em;
          display: inline-block;
          color: $text-highlight-color;
        }
        .announcement-item-group {
          @include divider-bottom;
          @include last;
          .announcement-item {
            margin-left: 2em;
            display: inline-block;
            color: #fff;
          }
        }
      }
      &::after {
        clear: both;
        content: " ";
        display: block;
      }
    }

  }

  .traf-bubbles {
    background: url(traf-bubbles.png) no-repeat top center;
    background-size: cover;
    height: 75px;
    @include breakpoint($breakpoint-nav) {
      height: 100px;
    }
  }

}
