.festivity-div.festivity-title
  %h4
    %span{class: "fa fa-wrench fa-lg", aria: {hidden: "true"}}
    Featured Image
.festivity-full
  %p
  .image_icons
    #featured_image_icons
      - if @page.image
        %img{:src => "#{@page.image}", :alt=>""}
  %input{:type => "submit", :id => "featured_image_upload", :value => "Upload Featured Image"}

  %input{:type=>'hidden', :id=> "async_create_asset_path", :value=>"#{admin_async_create_asset_path}"}
  %input{:type=>'hidden', :id=> "auth_token", :value=>"#{form_authenticity_token}"}
  %input{:type=>'hidden', :id=> "page_id", :value=>"#{@page.id}"}

.festivity-space