- locations = FestivityLocationPage.all
.festivity-full.festivity-list.festivity-div
  %table{:id => "festivity-performances-table", :class => "index performances-table"}
    %tr
      %th
        Start Date
      %th
        End Date
      %th
        Location
      %th
        Notes
    - performances.each do |performance|
      = render partial: "admin/pages/partials/performance", locals: {performance: performance, locations: locations}
.right
  %button{type: "button", id: "add-performance", href: "#{admin_festivity_performances_path}",
      class: "btn btn-default btn-sm cat-type-btn",
      aria: {label: "Left Align"}, data: {id: @page.id}}
    %span{class: "fa fa-plus-square fa-lg", aria: {hidden: "true"}}
    &nbsp;
    Add Performance
.festivity-space