- locations = FestivityLocationPage.where(site_id: @page.site.id)
.festivity-full.festivity-list.festivity-div
  = render partial: 'admin/pages/partials/performances_table', locals: {performances: performances, locations: locations, page_id: page_id}
.right
  %button{type: "button", id: "add-performance", href: "#{admin_festivity_performances_path}",
      class: "btn btn-default btn-sm cat-type-btn",
      aria: {label: "Left Align"}, data: {id: page_id}}
    %span{class: "fa fa-plus-square fa-lg", aria: {hidden: "true"}}
    &nbsp;
    Add Performance
.festivity-space