@mixin clearfix {
  overflow: hidden;
  *zoom: 1;
}

@mixin pie-clearfix {
  *zoom: 1;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin divider-bottom {
  padding-bottom: 2em;
  border-bottom: 1px solid $border-color;
  margin-bottom: 2em;
}

@mixin divider-top {
  padding-top: 2em;
  border-top: 1px solid $border-color;
  margin-top: 2em;
}

@mixin divider-right {
  padding-right: 1em;
  border-right: 1px solid $border-color;
  margin-right: 1em;
}

@mixin divider-left {
  padding-left: 1em;
  border-left: 1px solid $border-color;
  margin-left: 1em;
}

@mixin divider-none {
  padding: 0;
  border: 0 none;
  margin: 0;
}

@mixin button {
  @include alternate-face;
  @include reversed-text-smoothing;
  text-align: center;
  display: inline-block;
  padding: 0.75em 1.5em;
  text-decoration: none;
  color: $background-color;
  background-color: $link-color;
  transition: background-color 0.3s ease-in-out;
  &:hover,
  &:focus {
    text-decoration: none;
    background-color: $link-color-hover;
    color: $background-color;
  }
}

@mixin button-highlight {
  @include button;
  background-color: $highlight-color;
  &:hover,
  &:focus {
    background-color: $highlight-color-hover;
  }
}

@mixin button-subtle {
  @include button;
  display: inline-block;
  color: $text-color;
  background-color: lighten($background-color-subtle, 12%);
  transition: background-color 0.3s ease-in-out;
  &:hover,
  &:focus {
    color: $heading-color;
    background-color: $background-color-subtle;
  }
}

@mixin button-subtle-list {
  font-size: 0.875em;
  border-radius: 2px;
  display: inline-block;
  padding: 0.5em 0.75em;
  text-transform: none;
  color: $text-color;
  background-color: lighten($background-color-subtle, 12%);
  transition: background-color 0.3s ease-in-out;
  &:hover,
  &:focus {
    color: $heading-color;
    background-color: $background-color-subtle;
  }
}


@mixin button-outlined {
  @include button-subtle-list;
  background-color: $background-color;
  border: 1px solid $background-color-subtle;
  color: $link-color;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:focus {
    color: $background-color;
    background-color: $link-color;
    border-color: $link-color;
  }
}

@mixin button-reverse {
  @include button;
  background-color: $background-color-subtle;
  color: $link-color;
  &:hover,
  &:focus {
    color: $link-color-hover;
    background-color: $background-color;
  }
}

@mixin button-form {
  @include button;
  border: 0 none;
  font-size: 1em;
  &:hover,
  &:focus {
    cursor: pointer;
  }
}

@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin not-visually-hidden {
  border: inherit;
  clip: inherit;
  height: inherit;
  margin: inherit;
  overflow: inherit;
  padding: inherit;
  position: inherit;
  width: inherit;
}

@mixin reset-list {
  margin-left: 0;
  margin-top: 0;
  li {
    list-style-type: none;
  }
}

@mixin inline-list {
  margin-bottom: 1.5em;

  li {
    display: inline;
    margin-right: 0.25em;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
