@import "compass/css3/border-radius";
@import "../bootstrap/variables";
@import "../bootstrap/mixins";
$icon-font-path: "/assets/bootstrap/";
// Reset and dependencies
@import "../bootstrap/buttons";
@import "../bootstrap/navs";
@import "modules/festivity_form_styles";

.left {
  float: left;
}

.right {
  float: right;
}

.subtext {
  font-size: .8em;
}

.festivity-space, .list-item{
  @include festivity-div;
  padding: .5em 0em;
}

.festivity-list, .festivity-title{
  @include festivity-div;
  @include border-radius(5px);
}

.festivity-list {
  margin: .5em 0;
  background-color: white;
  color: #2e2e2e;
}

.list-item {
  clear: both;
  border-bottom: 2px solid #ddd;
  padding: .5em .5em;
}

.list-item:last-child {
  border: none;
}

.festivity-title {
  margin: 2em 0;
  padding: 1em .5em;
  background-color: #7e7e7e;
}

p.festivity-full, div.festivity-full {
  @include festivity-form-section;
  width: 100%;
}

p.festivity-third, div.festivity-third {
  @include festivity-form-section;
  width: 40%;
}


#content div.form-area p.festivity-full .textbox,
#content div.form-area p.festivity-third .textbox,
#content div.form-area p.festivity-third select {
  font-family: Georgia, Palatino, "Times New Roman", Times, serif;
  font-size: 140%;
  width: 100%;
}

.festivity-error {
  color: red;
}

.festivity-list a {
  text-decoration: none;
  color: #2e2e2e;
}

.festivity-list a:hover {
  text-decoration: underline;
}