<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
      <meta content="width=device-width, initial-scale=1.0" name="viewport" />
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" />
      <link href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css" rel="stylesheet" />
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
      <title>
         <r:title />
      </title>
      <link href="http://festivity-prod.s3.amazonaws.com/production/assets/festivity.css" rel="stylesheet" type="text/css" />
      <link href="http://festivity-prod.s3.amazonaws.com/production/assets/skins/pghkids/skin.css" rel="stylesheet" type="text/css" />
      <script src="http://festivity-prod.s3.amazonaws.com/production/assets/festivity_app.js" type="text/javascript"></script>
      <!--HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
      <!--WARNING: Respond.js doesn't work if you view the page via file://-->
      <!--[if lt IE 9]
         | <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script
         | <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script-->
   </head>
   <body class="landing_page_generic">
      <header class="site-header">
         <div class="container">
            <div class="row">
               <div class="mobile-menu-button visible-xs-block visible-sm-block">
                  <div class="menu-icon"></div>
               </div>
               <div class="col-md-2">
                  <a href="/">
                     <h1 class="logo">Dollar Bank Three Rivers Arts Festival</h1>
                  </a>
               </div>
               <div class="col-md-10">
                  <div class="row navigation hidden-xs hidden-sm">
                     <div class="secondary-navigation">
                        <div class="utils">
                           <ul class="list-inline">
                              <li><a href="faq.html">FAQ</a></li>
                              <li>Maps</li>
                              <li>Contact Us</li>
                              <li>Schedule</li>
                           </ul>
                        </div>
                        <div class="search-form">
                           <form action="search-results.html" method="get">
                              <div class="form-group">
                                 <div class="input-group">
                                    <input class="form-control" placeholder="Search ..." type="text" /><span class="input-group-btn"><button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button></span>
                                 </div>
                              </div>
                           </form>
                        </div>
                        <div class="social">
                           <ul class="list-inline social-icons">
                              <li><i class="fa fa-instagram"></i></li>
                              <li><i class="fa fa-twitter-square"></i></li>
                              <li><i class="fa fa-facebook-square"></i></li>
                              <li><i class="fa fa-envelope-square"></i></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <nav class="main-nav col-md-12 hidden-sm hidden-xs">
                        <ul class="list-inline">
                           <li><a href="/events">Events</a></li>
                           <!--<li><a href="artist_market_list.html">Artist Market</a></li>-->
                           <li><a href="landing_page_generic.html">Plan Your Visit</a></li>
                           <li><a href="landing_page_generic.html">Get Involved</a></li>
                           <li><a href="about/about_landing.html">About</a></li>
                        </ul>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
         <div class="row mobile-navigation">
            <div class="col-xs-12">
               <nav class="main-nav">
                  <ul class="list-unstyled">
                     <li><a href="event_list.html">Events</a></li>
                     <li><a href="artist_market_list.html">Artist Market</a></li>
                     <li><a href="landing_page_generic.html">Plan Your Visit</a></li>
                     <li><a href="landing_page_generic.html">Get Involved</a></li>
                     <li><a href="about/about_landing.html">About</a></li>
                  </ul>
               </nav>
               <div class="form-group">
                  <div class="input-group">
                     <input class="form-control" placeholder="Search for..." type="text" /><span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></span>
                  </div>
               </div>
               <nav class="secondary-nav">
                  <ul class="list-unstyled">
                     <li><a href="faq.html">FAQ</a></li>
                     <li><a href="#">Maps</a></li>
                     <li><a href="#">Contact Us</a></li>
                     <li><a href="#">Print Schedule</a></li>
                  </ul>
                  <ul class="list-inline social-icons">
                     <li><i class="fa fa-instagram"></i></li>
                     <li><i class="fa fa-twitter-square"></i></li>
                     <li><i class="fa fa-facebook-square"></i></li>
                     <li><i class="fa fa-envelope-square"></i></li>
                  </ul>
               </nav>
            </div>
         </div>
      </header>
      <div class="main">
          <r:content/>
      </div>
      <footer>
         <div class="container">
            <div class="row">
               <div class="col-md-3">
                  <a href="http://www.TrustArts.org">
                  <img src="/production/assets/pct-black.png" />
                  </a>
                  <ul class="list-unstyled">
                     <li><a href="#">Press Room</a></li>
                     <li><a href="#">Press Room</a></li>
                     <li><a href="#">Privacy Policy</a></li>
                     <li><a href="#">Contact Us</a></li>
                     <li><a href="#">Legal</a></li>
                  </ul>
               </div>
               <div class="col-md-3">
                  <ul class="list-unstyled">
                     <li class="footer-navigation-header">Attending</li>
                     <li><a href="#">Parking and Transportation</a></li>
                     <li><a href="#">Food</a></li>
                     <li><a href="#">Pets</a></li>
                     <li><a href="#">Restrooms</a></li>
                     <li><a href="#">Accessibility</a></li>
                     <li><a href="faq.html">FAQ</a></li>
                     <li><a href="#">Maps</a></li>
                  </ul>
               </div>
               <div class="col-md-3">
                  <ul class="list-unstyled">
                     <li class="footer-navigation-header">Artists</li>
                     <li><a href="#">Artist Portal</a></li>
                     <li><a href="#">Special Projects and Collaboration</a></li>
                     <li><a href="#">Booth and Display Requirements</a></li>
                     <li><a href="#">Map</a></li>
                     <li><a href="#">During Your Stay</a></li>
                     <li><a href="#">Accomodations</a></li>
                  </ul>
               </div>
               <div class="col-md-3">
                  <ul class="list-unstyled">
                     <li class="footer-navigation-header">Blog</li>
                     <li><a href="#">Lorem Ipsum </a></li>
                     <li><a href="#">Lorem Ipsum Lorem Ipsum Lorem Ipsum </a></li>
                  </ul>
               </div>
            </div>
            <div class="row copyright">
               <div class="col-xs-12">
                  <p>© 2015 Dollar Bank Three Rivers Arts Festival – Pittsburgh, PA – A production of the Pittsburgh Cultural Trust.</p>
               </div>
            </div>
         </div>
      </footer>
   </body>
</html>
