%section.constrained
  %h1 Oops!
  %p
    It looks like we were having a little too much fun at the festival! We are taking a look, please
    %a{href: 'javascript:history.back()'}
      go back
    and try again.
