$text-color: #00525b; //dark green
//$heading-color: #404242;
$heading-color: $text-color;
$text-color-subtle: tint($text-color, 30%);
$text-highlight-color: #fdcb36;//yellow

$link-color: #f06a33; //orange
$link-color-hover: darken($link-color, 15%);

$highlight-color: #d7df23; //light green
$highlight-color-hover: shade($highlight-color, 10%);

$link-color-reverse: #08B7BF; //light Blue
$link-color-reverse-hover: lighten($link-color-reverse, 10%);
$link-color-reverse-alt: $text-color;

$heading-highlight-color: #00afaa; //turquoise

$border-color: #cbcdc6;

$background-color: #fff;
$background-color-subtle: #cbcbcb;
$background-color-alt: #92d5e1;

$footer-color: $text-color;
$social-footer-color: $footer-color;

$search-placeholder-color: $link-color;

// icon color variations - overrides original value with this theme's contextual value

$icon-primary-color: #D7DF23;
$icon-secondary-color: #F06A33;
$icon-search-color: $highlight-color;
