%meta{:name => "description", :content => description}
%meta{:name => "keywords", :content => keywords}

%meta{:property=> "og:image", :content => "#{page.image}"}
%meta{:property=> "og:description", :content => description}
%meta{:property=> "og:title", :content => page.title}
%meta{:property=> "og:url", :content => url}
%meta{:name=> "twitter:card", :content => "summary"}
%title
  = "#{page.title} - #{page.site.name}"