.events-filter-bar__wrapper

  %p.event-filter-bar__header
    Filters
    %i#spinner.fa.fa-spinner.fa-pulse.hide

  %a.btn.btn-primary.visible-xs-block.visible-sm-block.done-button{data: {toggle: "offcanvas", target: "#myNavmenu", canvas: "body"}}
    Done

  %form
    %div#collapse-wrapper{data: {collapse: true}}
      %h3.open
        Dates
      %ul.filter-bar_filters.date-filters
        - current_site.festival_dates.each do |day|
          %li
            .checkbox
              %label
                - checked = @selected_dates.include? day.to_s
                %input{type: "checkbox", value: day.to_s, checked: checked,  data: {filter: "Date", sort: day.to_s}}
                  = day.strftime("%a, %B %-d")
      - current_site.festivity_active_category_types.each do |type|
        %h3
          = type.name
        %ul.filter-bar_filters.category-filters
          - type.parent_categories.each do |parent|
            %li
              .checkbox.checkbox.parent
                %label
                  - checked = @selected_categories.include? parent.id.to_s
                  %input{type: "checkbox", value: parent.id, data: {filter: type.name, sort: parent.name.downcase}, checked: checked}
                    = parent.name
            - parent.children.each do |child|
              %li
                .checkbox.checkbox.child
                  %label
                    - checked = @selected_categories.include? child.id.to_s
                    %input{type: "checkbox", value: child.id, data: {filter: type.name, sort: parent.name.downcase}, checked: checked}
                      = child.name