.filter-bar-mobile.visible-xs-block.visible-sm-block
  .container-fluid
    .row
      .col-xs-4
        %a.filter-button.btn.btn-default{data: {toggle: "offcanvas", target: "#myNavmenu", canvas:"body"}}
          Filter
      .col-xs-7.sort-bar-mobile
        .row
          %form.form-horizontal
            .form-group
              %label.col-xs-2.control-label{for: "sort-mob"}
                Sort
              .col-xs-9
                %select#sort-mob.sort-control.form-control
                  %option
                    Date/Time
                  %option
                    Alphabetical