#festivity-types-list.festivity-list
  - category_types.each do |type|
    .list-item
      .left
        = type.name
      .right
        %a.festivity-type.fa.fa-minus-circle{href: "#{url_for([:admin, type])}", id: "festivity-type-#{type.id}"}
          Delete