.festivity-space
.festivity-title
  %h4
    %span{class: "fa fa-wrench fa-lg", aria: {hidden: "true"}}
    Category Setup
= render partial: 'admin/sites/partials/category_types', :locals => { :category_types => @site.festivity_active_category_types}
= render partial: 'admin/sites/partials/category_popups'