= render partial: 'admin/sites/partials/category_types', :locals => { :category_types => category_types}
.new-category-popup
  = render partial: "admin/sites/partials/category_popup", :locals => { category_type: new_category_type, type_name: new_category_type.name, type_id: new_category_type.name.parameterize}