.event-filter-bar {
  padding: 0 3rem 3rem 3rem;
  .events-filter-bar__wrapper {
    overflow: hidden;
    .event-filter-bar__header {
      font-size: 1.25em;
      font-weight: 600;
      background-color: $ghost-gray;
      padding: 1rem;
    }
    form {
      h3 {
        font-weight: 600;
        font-size: 1.5em;
        margin-top: 3rem;
        padding-top: 3rem;
        padding-bottom: 1rem;
        border-top: 1px solid $ghost-gray;
        &:first-child {
          border-top: none;
          margin-top: 2rem;
          padding-top: 1rem;
        }
        a {
          color: $dark-gray;
          display: block;
          width: 100%;
          position: relative;
          &:after {
            content: "\f107";
            position: absolute;
            right: 0;
            font-family: FontAwesome;
            font-weight: normal;
            font-style: normal;
          }
        }
        &.open a:after {
          content: "\f106";
          position: absolute;
          right: 0;
          font-family: FontAwesome;
          font-weight: normal;
          font-style: normal;
        }
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
          padding: 0;
          margin: 0;
          .checkbox {
            label {
              font-color: lighten($middle-gray, 30);
              font-weight: 400;
              font-size: 1em;
            }
          }
        }
      }
    }
  }
}

// indent with these data attributes

.checkbox {
  &.child {
    padding-left: 3rem;
  }
}


.hidden-event {
  display: none;
}
