.faq-header {
  padding-bottom: 1rem;
}
.q {
  padding-top: 4rem;
}

.q:first-child {
  padding-top: 0;
}

nav.faq-navigation {
  width: 300px;
}

// stuff for the affixed side menu

.affix-top,.affix{
 position: static;
}

.affix-bottom {
  position: fixed;
}

.affix {
  position: fixed;
  width: 300px;
  top: 60px;
}

#totop {
  a {
    position: fixed;
    right: 15px;
    bottom: 20px;
    text-align: center;
    z-index: 1000;
    background-color: $middle-gray;
    padding: 10px;
    text-decoration: none;
    color: white;
    display: block;
    @media #{$medium-up} {
      display: none;
    }
  }
}