.filter-bar-mobile {
  width: 100%;
  position: fixed;
  background-color: $ghost-gray;
  height: 60px;
  top: 60px;
  z-index: 200;
  .filter-button {
    display: block;
    cursor: pointer;
    margin-top: 10px;
  }
}

.sort-bar-mobile {
  padding-top: 10px;
  line-height: 2;
}

.container .sort {
  display: none;
  @media #{$small-up} {
    display: block;
  }
}

.current-filters {
  padding-top: 50px;
  @media #{$medium-up} {
    padding-top: 0;
  }
}