body {
  // these will be some default type setups
  font-family: $default-font-family;
  font-weight: $default-font-weight;
  // this is for the mobile menu to work properly
  position: relative;
  height: 100%;
  font-size: 16px;
  line-height: 1.6;
}

/* need to offset fixed headers on mobile */
.main {
  padding-top: 80px;
  @media #{$medium-up} {
    padding: 0;
    margin: 0;
  }
}

.large {
  font-size: 1.25em;
}

.strong {
  font-weight: 600;
}


// html { overflow-y: scroll; } // this is to prevent weird shifting with offcanvas menus