header.site-header {
  position: fixed;
  width: 100%;
  background-color: black;
  z-index: 500;
  @media #{$medium-up} {
    position: relative;
    background-color: $ghost-gray;
    margin-bottom: 3rem;
  }
  h1.logo {
    background: url(image-path('traf-logo.svg'));
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
         -o-background-size: contain;
            background-size: contain;
    text-indent: -100000px;
    width:  auto;
    height: 30px;
    @media #{$medium-up} {
      width: 125px;
      height: 155px;
    }
    > a {
      display: block;
    }
  }

  .secondary-navigation {
    @extend %nopadding;
    float: right;
    > div {
      display: inline-block;
      float: left;
      &.utils {
        width: 300px;
      }
      &.search-form {
        width: 225px;
      }
      &.social {
        padding-left: 20px;
        font-size: 1.25em;
      }
    }
    li {
      font-size: 1em;
      @media #{$medium-up} {
        padding: 5px 5px;
        line-height: 40px;
      }
    }
    .social-icons {
      float: right;
    }
  }

  .main-nav {
    font-size: 24px;
    font-weight: 700;
    display: block;
    padding-top: 90px;
    @include transition-all();
   @media #{$medium-up} {
     font-size: 18px;
     float: right;
     > ul {
      float: right;
     }
   }
    @media #{$large-up} {
      font-size: 24px;
      float: right;
    }
    ul > li {
      padding: 0 0 20px 20px;
      @media #{$large-up} {
        padding: 0 0 20px 40px;
      }
      a {
        @media #{$medium-up} {
          color: black;
        }
        color: white;
        &:hover {
          text-decoration: none;
          color: lighten(black, 40);
          @include transition-all();
        }
      }
    }
  }
}

