@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
          border-radius: $radius;
}

@mixin button() {
  background-color: #E6E7E8;
  color: $dark-grey;
}

@mixin transition-all() {
  -webkit-transition: all .5s;
     -moz-transition: all .5s;
      -ms-transition: all .5s;
       -o-transition: all .5s;
          transition: all .5s;
}