// TODO: This needs testing across mobile browsers
// TODO: Fix animations

.mobile-navigation {
  transition: all 0.25s ease-in .1s;
  display: none;
  right: -20em;
  .main-nav ul > li {
    display: block;
    padding: 10px 20px;
    a {
      font-size: .75em !important;
    }
  }
  .secondary-nav {
    a {
      font-size: 1em !important;
      padding: 10px 20px;
      display: block;
      color: lighten($middle-gray, 25) !important;
    }
  }
  &.active {
    @media all and (max-width: 990px) {
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      background-color: $dark-gray;
      color: white;
      z-index: 1000;
      width: 20em;
      overflow-x: scroll;
      a {
        color: white;
      }
    }
  }
  .form-group {
    padding: 0 2em 0 1em;
  }
  .social-icons {
    padding-left: 1.25em;
  }
}

.navigation {
  .form-group {
    margin-top: 10px;
  }
}

// .navigation {
//   ul {
//     display: inline-block;
//     float: right;
//   }
// }

.social-icons {
  li {
    font-size: 1.25em;
    padding: 5px;
    color: lighten($middle-gray, 10);
  }
}

/* some local variables for the menu */
$slice-height: 5px;
$bar-color: white;

@mixin trans() {
  -moz-transition: .25s;
  -o-transition: .25s;
  -webkit-transition: .25s;
  transition: .25s;
}

.mobile-menu-button {
  text-indent: -10000px;
  position: absolute;
  right: 10px;
  top: 30px;
  display: block;
  z-index: 100000;
  /* make sure the hit area is big enough for mobile */
  height: 45px;
  width: 45px;
  cursor: pointer;
  .menu-icon {
    display: block;
    height: $slice-height;
    width: 30px;
    background-color: $bar-color;
    position: relative;
    @include border-radius(5px);
    @include trans();
    &:after, &:before {
      content: '';
      display: block;
      height: $slice-height;
      height: 5px;
      width: 30px;
      background-color: $bar-color;
      position: absolute;
      @include border-radius(5px);
      @include trans();
    }
    &:after {
      top: -10px
    }
    &:before {
      top: 10px
    }
  }
  .menu-icon-active {
    background:transparent;
    &:before {
      -webkit-transform:rotate(45deg);
      top:0;
    }
    &:after {
      -webkit-transform:rotate(-45deg);
      top:0;
    }
  }
}
