// some variables for page layout //
$padding: 2rem; // default bottom padding for elements

.page-template {
  h1, h2, h3, h4, h5, h6 {
    padding-top: 0;
    margin-top: 0;
  }
  h1 {
    font-size: 3em;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 0;
    margin-top: 1
  }
  h2 {
    font-size: 2em;
    font-weight: 600;
    padding-bottom: $padding;
    line-height: 1.4;
  }
  h3 {
    font-size: 1.5em;
    font-weight: 300;
    padding-bottom: $padding;
    line-height: 1.6;
    &.strong {
      font-weight: 600;
    }
  }
  h4 {
    font-size: 1.3em;
    font-weight: 300;
    padding-bottom: $padding;
    line-height: 1.6;
    &.strong {
      font-weight: 600;
    }
  }
  hr {
    display: block;
    margin: 5rem 0 5rem 0;
    &.thick {
      height: 2px;
      background-color: black;
    }
    &.unpad-top {
      padding-top: 0;
      margin-top: 3rem;
    }
  }

  img {
    //we want a little extra padding around images
    margin-bottom: $padding*2;
  }
  p {
    padding-bottom: $padding/2;
    line-height: 1.6;
    font-weight: 400;
  }
  .media-item {
    margin-bottom: $padding*2;
    img {
      float: left;
    }
  }

  .grid-thumbnails-item {
    height: 375px;
  }

  //sidebar styles

  .sidebar {
    h4 {
      padding-bottom: 0;
    }
    &__item {
      padding-top: $padding*2;
      img {
        padding-bottom: 0;
      }
    }
  }

  .sidebar__item-boxed {
    background-color: $ghost-gray;
    padding: 2rem;
    border-radius: $default-border-radius;
    &.reversed {
      background-color: $dark-gray;
      color: $ghost-gray;
    }
  }

  .sidebar__item-boxed--with-image {
    border: 1px solid $border-gray;
    border-radius: $default-border-radius;
    h4 {
      padding-top: 1rem !important;
    }
    img {
      margin-bottom: 1rem;
    }
    .box-inner {
      padding: .5rem 1.5rem;
    }
    .more-info {
      display: block;
      border-top: 1px solid $border-gray;
      background-color: lighten($ghost-gray, 1);
      font-weight: 600;
    }
  }

  .page-navigation {
    li {
      border-bottom: 1px solid $ghost-gray;
      padding: $padding 0;
    }
  }

}