.search-results {
  .search-results-header__sort-form {
    .form-group {
      padding-top: 20px;
    }
  }
  .search-result-item {
    border-bottom: 1px solid $ghost-gray;
    padding-bottom: 2em;
    margin-bottom: 2em;
    h2 {
      font-size: 1.5em;
      font-weight: 600;
    }
    .link {
      font-weight: 700;
      font-size: .75em;
    }
  }
}