.page-template
  .row
    .col-xs-12.col-md-12
      - current_page.children.each_with_index do |page, index|
        - if index%3 == 0
          .row
        = render partial: 'navigation/three_column_item', locals: {page: page}