
.row
  .col-xs-12.col-md-12
  - current_page.children.each do |page|

    .col-xs-12.col-md-4.landing-page-plug
      .map-thumb
        %img{src: page.image, alt: page.title}
      %h3.strong
        %a{href: page.path}
          = page.title
      %p
        = page.short_description
      %a.btn.btn-default{type: "button", href: page.path }
        Learn More