.page-template
  - current_page.children.each do |page|
    .row.media-item
      .col-xs-12.col-md-4
        .map-thumb
          %a{href: page.path}
            %img{src: page.image, alt: page.title}
        %h3.strong
      .col-xs-12.col-md-8
        %h3.strong
          = page.title
        %p
          = page.short_description
        %button.btn.btn-default
          %a{href: page.path}
            Learn More