.col-xs-12.col-md-4.landing-page-plug
  .map-thumb
    %a{href: page.path}
      %img{src: page.image, alt: page.title}
  %h3.strong
    %a{href: page.path}
      = page.title
  %p
    = page.short_description
  %button.btn.btn-default{type: "button", href: page.path }
    %a{href: page.path}
      Learn More